@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(37, 40, 53);
  font-family: "Open Sans", sans-serif;
}
h1 {
  background-color: #ebe645;
  font-family: "Courier New", Courier, monospace;
}
#output {
  max-width: 60%;
  height: 50%;
  border: 2px solid black;
  margin: auto;
  background-color: white;
  display: block;
  padding: 2rem;
}
#btnrewrite {
  width: 20%;
  height: 4vh;
  background-color: #a9947b;
  border-radius: 0.3rem;
}
#btnrewrite:hover {
  color: #e96957;
}
.entry {
  color: #e96957;
}
#mid {
  color: #ecb3b6;
}
#middle {
  color: #df9770;
}
#down {
  color: #78cde0;
}
